.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.right-panel {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.content {
  width: calc(100% - 100px);
  height: 100%;
  background: #2A2E3F;
  border-radius: 130px 0 0 0;
  padding: 60px 50px 50px 50px;
}